In [1]:
import numpy as np
import pandas as pd
import re
import os 
import glob
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
data_file_folder ='C:/Users/iulia/Documents/NSS/projects/capstone/data/cleaned_data/'

In [3]:
df = []
for file in os.listdir(data_file_folder):
        if file.endswith('_TX.xlsx'):             
             df.append(pd.read_excel(os.path.join(data_file_folder,file),sheet_name='Sheet1'))

In [4]:
df_tx_master = pd.concat(df, axis = 0)
df_tx_master.head(2031)

     Year    County  fatalities  injuries total_crashes  population                       CBSA Title Metropolitan/Micropolitan Statistical Area
0    2013  ANDERSON           9       203           793       57960                    Palestine, TX              Micropolitan Statistical Area
1    2013   ANDREWS          12        80           294       16779                      Andrews, TX              Micropolitan Statistical Area
2    2013  ANGELINA          19       532         1,831       87312                       Lufkin, TX              Micropolitan Statistical Area
3    2013   ARANSAS           4        89           299       23889                     Rockport, TX              Micropolitan Statistical Area
4    2013    ARCHER           7        44           132        8801                Wichita Falls, TX              Metropolitan Statistical Area
..    ...       ...         ...       ...           ...         ...                              ...                                        ...
248  2020      WISE          11       219           907       68866  Dallas-Fort Worth-Arlington, TX              Metropolitan Statistical Area
249  2020      WOOD          12       120           526       45010                              NaN                                        NaN
250  2020    YOAKUM           0        15            67        7669                              NaN                                        NaN
251  2020     YOUNG           3        30           219       17839                              NaN                                        NaN
252  2020    ZAPATA           0        18            94       13884                       Zapata, TX              Micropolitan Statistical Area

[2031 rows x 8 columns]

In [5]:
df_tx_master.isna().sum()

Year                                            0
County                                          0
fatalities                                      0
injuries                                        0
total_crashes                                   0
population                                      0
CBSA Title                                    984
Metropolitan/Micropolitan Statistical Area    984
dtype: int64

In [6]:
df = []
for file in os.listdir(data_file_folder):
        if file.endswith('_TN.xlsx'):             
             df.append(pd.read_excel(os.path.join(data_file_folder,file),sheet_name='Sheet1'))

In [7]:
df_tn_master = pd.concat(df, axis = 0)
df_tn_master.head(2031)

        County  fatalities injuries total_crashes      2013                                      CBSA Title Metropolitan/Micropolitan Statistical Area  2014  2015  2016  2017  2018  2019      2020
0     ANDERSON          10      445         1,769   75299.0                                   Knoxville, TN              Metropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN       NaN
1      BEDFORD          13      287           987   45565.0                                 Shelbyville, TN              Micropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN       NaN
2       BENTON          10       94           304   16360.0                                             NaN                                        NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
3      BLEDSOE           0       31            80   13910.0                                             NaN                                        NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
4       BLOUNT          24      734         2,981  124874.0                                   Knoxville, TN              Metropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN       NaN
..         ...         ...      ...           ...       ...                                             ...                                        ...   ...   ...   ...   ...   ...   ...       ...
90       WAYNE           2       54           250       NaN                                             NaN                                        NaN   NaN   NaN   NaN   NaN   NaN   NaN   16202.0
91     WEAKLEY           9      110           440       NaN                                      Martin, TN              Micropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN   32864.0
92       WHITE           4       94           427       NaN                                             NaN                                        NaN   NaN   NaN   NaN   NaN   NaN   NaN   27424.0
93  WILLIAMSON          16      719         3,853       NaN  Nashville-Davidson--Murfreesboro--Franklin, TN              Metropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN  249424.0
94      WILSON          16      798         3,250       NaN  Nashville-Davidson--Murfreesboro--Franklin, TN              Metropolitan Statistical Area   NaN   NaN   NaN   NaN   NaN   NaN  148564.0

[762 rows x 14 columns]

In [8]:
df_tx_master.isna().sum()

Year                                            0
County                                          0
fatalities                                      0
injuries                                        0
total_crashes                                   0
population                                      0
CBSA Title                                    984
Metropolitan/Micropolitan Statistical Area    984
dtype: int64